body{
    background-color: rgb(202, 131, 131);
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h1{
    color: white;
    font-family: impact;
}
p{
    color: white;
    font-family: impact;
}