body{
    background-color: rgba(29, 235, 80, 0.986);
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h1{
    color: white;
    font-family: impact;
}
p{
    color: white;
    font-family: impact;
}