.header{
    padding:0px;
    margin-left:auto;
    margin-right: auto;
    background-color:rgb(0, 7, 0);
    list-style:none;
    height: 100%;
    border: 10px double;
    border-radius: 35px;
    box-shadow: 10px 15px #000000;
}
.op{
    font-size: 30px;
    text-align: end;
    font-family: impact;
}
.tittle{
    font-size: 60px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: impact;
    margin-left: 20px;
    margin-top: -0.5px;
}




.base{
    margin-top: 0px;
    margin-bottom: 0px;
    
    color: white;
}

.btt{
    font-size: 30px;
    font-family: impact;
    background-color: rgb(0, 7, 0);
    color: white;
    border-color: rgb(0, 7, 0);
}

.popdiv{
    background-color: rgb(2, 17, 0);
    border-color: rgb(0, 7, 0);
}

.arecont{
    margin-left: 250px;
    margin-right: 250px; 
}

.imgCenter{
    text-align: center;
}

.box{
    margin-top: 50px;
    border: 5px double;
    border-radius: 10px;
    box-shadow: 10px 15px #000000;
    background-color: #000000;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
}
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

  .imgAbout{
    float: left;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.grid {
    float: left;
    width: 35%; /* three boxes (use 25% for four, and 50% for two, etc) */
    padding: 40px; /* if you want space between the images */
    height: 700px;
}

.imgbord{
    border-radius: 8px;
}