body{
    background-color: rgb(117, 114, 126);
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    color: white;
    font-family: impact;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 270%;
}

p{
    color: white;
    font-family: impact;
    margin-left: 20px;
    margin-right: 20px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-right: 20px;
}